@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

div.input-group {
  @apply flex items-center border border-slate-200 rounded-md w-full text-sm;
}

div.input-group .input-prefix {
  @apply pl-3 select-none text-slate-500;
}

label.form-label {
  @apply text-sm mb-2 font-medium;
}

label.form-label span {
  @apply text-red-500 text-sm;
}

input.form-input,
textarea.form-input {
  @apply border border-slate-200 rounded-md w-full px-3 py-2 transition-all focus:border-blue-700 outline-none text-sm;
}

div.input-group > input.form-input {
  @apply border-none;
}

div.input-group.error,
textarea.form-input.error,
input.form-input.error {
  @apply border-red-600;
}

button.btn {
  @apply text-sm bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-md hover:shadow-lg shadow-md outline-none flex items-center justify-center disabled:bg-gray-200 disabled:text-gray-500;
}

a.btn.btn-transparent,
button.btn.btn-transparent {
  @apply bg-transparent shadow-none w-min whitespace-nowrap text-blue-500 hover:bg-blue-50 px-5 py-2 rounded-lg hover:text-blue-700 font-medium transition-all disabled:bg-gray-200 disabled:text-gray-500;
}

button.btn span {
  @apply w-full text-center;
}

button.btn i,
button.btn img {
  @apply ml-4;
}

@keyframes introY {
  0% {
    transform: translateY(75%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

@keyframes introX {
  0% {
    transform: translateX(75%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}

@keyframes minIntroX {
  0% {
    transform: translateX(-75%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}

.intro-y {
  animation: 500ms ease-in-out 0s 1 introY;
}

.intro-x {
  animation: 500ms ease-in-out 0s 1 introX;
}

.-intro-x {
  animation: 500ms ease-in-out 0s 1 minIntroX;
}
